/* Import fonts */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Parisienne&display=swap');

/* Remove margin from rows */

.row {
    margin: 0;
}

/* Font settings */

body,
.user-reviews a,
#profile-review-title a {
    font-family: "Lato", sans-serif;
    color: #373737;
}

/* Footer gradient color effect */

.page-footer {
    background: linear-gradient(90deg, #a99c72, #c0b283, #e4d29b);
}

/* Navbar gradient effect and skew shape. Tutorial used: https://css-tricks.com/creating-non-rectangular-headers/ */

nav:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-image: linear-gradient(90deg, #a99c72, #c0b283, #e4d29b);
    transform: skewY(-4deg);
    transform-origin: top left;
}

/* Padding added to main to accomodate the skew navbar effect */

main {
    padding-top: 180px;
}

/* Navbar padding */

nav .nav-wrapper {
    padding: 0 30px;
}

/* Button color changed from default to gold */

.btn,
.btn-large,
.btn-small {
    background-color: #c0b283;
    margin: 20px 0;
}

/* Hover effect and focus color overwritting materialize default */

.btn:focus,
.btn-large:focus,
.btn-small:focus,
.btn:hover,
.btn-large:hover,
.btn-small:hover {
    background-color: #a99c72;
}

/* Overlay created for forms and text in content-containers */

.content-container {
    background-color: rgba(228, 224, 211, 0.9);
    padding: 20px 50px;
    margin: 30px 0;
}

/* Index page container settings and h1 styling */

.homepage-container {
    background-color: rgba(228, 224, 211, 0.8);
    padding: 20px 50px;
    margin: 30px 0 60px;
}

.homepage-container h1 {
    color: #bdaa6c;
    font-family: "Parisienne", sans-serif;
}

/* Set size for images in the collection page */

.image-collection {
    width: 100%;
    height: 100%;
    max-width: 250px;
    max-height: 350px;
}

/* Make image smaller for the profile page display */

.image-profile {
    max-width: 50%;
}

/* Background photo for home page*/

main {
    background: url('../images/open-book.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Materialize sticky footer */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Footer link underline */

.footer-copyright a:hover {
    text-decoration: underline;
}

/* Link hover effect. Source: https://codepen.io/jstn/pen/zuDst */

.user-reviews a {
    color: #373737;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.10em;

    display: inline-block;
    padding: 3px 12px;
    position: relative;
}

.user-reviews a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #373737;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.user-reviews a:hover:after {
    width: 100%;
    left: 0;
}

#profile-review-title a:hover {
    color: #a99c72;
}

/* Accordion header background color and font styling */

.collapsible-header {
    background-color: #dcd8ca;
    border-bottom: 1px solid #b5b5b3;
    text-transform: uppercase;
    font-weight: 700;
    color: #848482;
}

/* Collapsible margin increased */

.collapsible {
    margin: 1.5rem 0;
}


/* SEARCH BAR*/

/* Search bar box */

nav .input-field input[type=text]:valid {
    background-color: #fff;
    color: #373737;
    height: 2rem;
    box-shadow: 2px 2px 3px 0px rgba(124, 114, 82, 0.95);
    margin: 0;
}

/* place search icon inside the input box */

.search-bar .input-field label:not(.label-icon).active {
    transform: translateY(9px) scale(0.7);
    transform-origin: 0 0;
}

/* Edit search button styling 

#search-icon {
    font-size: 20px;
    height: 30px;
    line-height: 30px;
}

#search-button {
    padding: 0 0.5rem;
    height: 2rem;
}
*/

/* Adjust input text and placeholder padding to accommodate the search symbol */

#search-input-field>input {
    padding-left: 40px;
}

/* Adjust the input field  width to take into account padding added to accommodate the search symbol */

#search-input-field {
    width: calc(100% - 40px);
}

/* Remove border bottom and edit shadow */

.search-bar input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: none;
    box-shadow: 2px 2px 10px 2px rgba(124, 114, 82, 0.75)
}

/* Search icon color */

.search-bar .input-field .prefix {
    color: #a99c72;
    padding-left: 10px;
}


/* Remove padding for search bar */

#search-input-field,
.search-bar .col {
    padding: 0;
}


/* Style colors for form input fileds when active */

input[type=text]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #a99c72;
    box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label,
.input-field label:not(.label-icon).active {
    color: #a99c72;
}

.input-field .prefix.active,
.dropdown-content li>span {
    color: #a99c72;
}


/* Overlay styled to dim the background for loader */

#overlay {
    z-index: 98;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .5);
}

/* Position loader in the center */

.preloader-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* Set color for the loader */

.spinner-layer {
    border-color: #fff;
}

/* Back to top button */

.back-to-top-container {
    background-color: #292826;
    padding: 10px 0;
    margin-top: 100px;
}

.back-to-top-container a {
    color: #a99c72;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: letter-spacing 1.5s ease-in-out;
}

.back-to-top-container a:hover {
    letter-spacing: 0.3em;
    color: #fff;
}

/* Book info styling - collection */

#book-info-container div {
    font-size: 1.4rem;
}

#book-info-container .title {
    font-weight: 700;
    font-size: 2rem;
}

#book-info-container .added-by {
    font-weight: 300;
    font-size: 1.2rem;
}

#view-review-container p {
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin: 0;
}

/* Style link in the login container */

#login-container a,
#register-container a {
    color: #c0b283;
    padding-left: 20px;
}

#login-container a:hover,
#register-container a:hover {
    text-decoration: underline;
}

/* Style flash messages */

#flash-messages {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 750px) {
    .image-collection {
        width: 60%;
        height: 60%;
    }

    .content-container {
        padding: 20px 20px;
    }

    main {
        padding-top: 140px;
    }
}
