/* Remove padding and margins for body and h5

body, h1 {
    margin: 0;
    padding: 0;
} */

.content-container {
  background-color: rgba(244, 244, 244, 0.9);
  padding: 20px 50px;
  margin: 30px 0;
  
}
/* Set size for images in the collection page */
.image-collection {
    max-width: 100%;
    max-height: 100%;
}

/* Make image smaller for the profile page display */
.image-profile {
    max-width: 30%;
}

/* Background photo for home page*/
main {
    background: url('../images/open-book.jpg') no-repeat center center fixed;
    background-size: cover;
}


/* Materialize sticky footer */
 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

