{% extends 'base.html' %} {% block content %}
<div class="content-container">
    <h3>Add Review</h3>
    <div class="row">
        <form action="{{ url_for('insert_review') }}" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">title</i>
                    <input id="title" name="title" type="text" required>
                    <label for="icon_prefix">Book Title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">person</i>
                    <input id="author" name="author" type="text" required>
                    <label for="icon_prefix">Author</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">today</i>
                    <input id="publication_year" name="publication_year" type="text" required>
                    <label for="icon_prefix">Publication year</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">poll</i>
                    <select required id="type" name="type">
                  <option value="" disabled selected>Select type</option>
                  <option value="Fiction">Fiction</option>
                  <option value="Non-fiction">Non-fiction</option>
                </select>
                    <label>Book Type</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">book</i>
                    <input id="genre" name="genre" type="text" required>
                    <label for="icon_prefix">Book genre</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">image</i>
                    <input id="cover" name="cover" type="text" required>
                    <label for="icon_prefix">Link to book cover image</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">subject</i>
                    <textarea name="summary" id="summary" class="materialize-textarea" data-length="1500" required></textarea>
                    <label for="icon_telephone">Book Summary</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">subject</i>
                    <textarea name="review" id="review" class="materialize-textarea" data-length="1500" required></textarea>
                    <label for="icon_telephone">Book Review</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input value="{{ user.username }}" name="added_by" id="added_by" type="text" readonly>
                    <label for="added_by">Added by</label>
                </div>
            </div>

            <div class="row center">
                <div class="col s6">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Add review
                <i class="material-icons right">playlist_add</i>
             </button>
                </div>
                <div class="col s6">
                    <a class="btn waves-effect waves-light" href="{{url_for('index')}}">Cancel<i class="material-icons right">cancel</i></a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
