<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Generate title -->
    {% if title %}
    <title>Booksy - {{ title }}</title>
    {% else %}
    <title>Booksy</title>
    {% endif %}

    <!-- Load stylesheets -->
    <link rel="icon" href="https://img.icons8.com/nolan/64/000000/open-book.png" type="image/png" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />

</head>

<body>
    <header>
        <nav class="">
            {% if current_user.is_authenticated %}
            <div class="nav-wrapper row">
                <div class="col l4 s12"><a class="brand-logo" href="{{ url_for('index') }}">Booksy</a></div>

                <div class="col l5 s12">
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('show_collection') }}">Collection</a></li>
                        <li><a href="{{ url_for('add_review', username=current_user.username) }}">Add Review</a></li>
                        <li><a href="{{ url_for('logout') }}">Sign Out</a></li>
                        <li><a href="{{ url_for('profile', username=current_user.username) }}">Profile</a></li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li><a href="{{url_for('index')}}">Home</a></li>
                        <li><a href="{{ url_for('show_collection') }}">Collection</a></li>
                        <li><a href="{{ url_for('add_review', username=current_user.username) }}">Add Review</a></li>
                        <li><a href="{{ url_for('logout') }}">Sign Out</a></li>
                        <li><a href="{{ url_for('profile', username=current_user.username) }}">Profile</a></li>
                        <li>
                            <div class="center row search-bar">
                                <div class="col s12">
                                    <div class="row">
                                        <div class="input-field col s6 s12">
                                            <i class="material-icons prefix">search</i>
                                            <input type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <div class="center row search-bar">
                        <div class="col s12">
                            <div class="row">
                                <div class="input-field col s12" id="search-input-field">
                                    <i class="material-icons prefix">search</i>
                                    <input type="text" placeholder="Search by title or author">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="nav-wrapper">
                <a class="brand-logo" href="{{ url_for('index') }}">Booksy</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('index')}}">Home</a></li>
                    <li><a href="{{ url_for('login') }}">Sign In</a></li>
                    <li><a href="{{ url_for('register') }}">Sign Up</a></li>

                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{url_for('index')}}">Home</a></li>
                    <li><a href="{{ url_for('login') }}">Sign In</a></li>
                    <li><a href="{{ url_for('register') }}">Sign Up</a></li>
                </ul>
            </div>
            {% endif %}
        </nav>
    </header>
    <main>
        <div class="container">

            {% with messages = get_flashed_messages() %} {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %} {% endwith %} {% block content %} {% endblock %}

        </div>
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Disclaimer</h5>
                    <p class="grey-text text-lighten-4">For educational purposes only</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                &copy; 2019 JBroks. All rights reserved.
                <a class="grey-text text-lighten-4 right" href="https://github.com/JBroks/booksy-reviews" target="_blank">GitHub</a>
            </div>
        </div>
    </footer>

    <!-- Loading scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="{{url_for('static', filename='js/script.js')}}" type="text/javascript"></script>
</body>

</html>
