{% extends "base.html" %} 
{% block content %} 

{% for review in reviews %}

<div class="row">
    <div class="col s4"><img class="image-collection" src="{{ review.book_cover }}" alt="Picture of {{ review.book_title }}"></div>
    <div class="col s4">
        <div class="row">
            <div class="col s12">{{ review.book_title }}</div>
        </div>
        <div class="row">
            <div class="col s12">By {{ review.author }}</div>
        </div>
        <div class="row">
            <div class="col s12">{{ review.publication_year }}</div>
        </div>
         <div class="row">
            <div class="col s12">Added by: {{ review.added_by }}</div>
        </div>
    </div>
    <div class="col l4 m4 s12"><button><a>View</a></button></div>
</div>

{% endfor %} 

{% endblock %}
