{% extends "base.html" %} {% block content %}

<div class="content-container">

    <h3 class="center">Collection</h3>
    <div>{{ pagination.links }}</div>
    
    {% for review in range(0,len) %}
  
    <li>{{ review.title }}</li> 
    
    {% endfor %}
    
    {% for review in review %}
 
  <!--  <div>{{ loop.index + pagination.skip }}</div> -->

    <div class="row">

        <div class="col l4 m4 s12 center-on-small-only"><img class="image-collection" src="{{ review.cover }}" alt="Picture of {{ review.title }}"></div>

        <div class="col l5 m4 s12 center-on-small-only" id="book-info-container">
            <div class="row">
                <div class="col s12 title">{{ review.title }}</div>
            </div>
            <div class="row">
                <div class="col s12"> By {{ review.author }} </div>
            </div>
            <div class="row">
                <div class="col s12">{{ review.publication_year }}</div>
            </div>
            <div class="row">
                <div class="col s12 added-by">Added by: {{ review.added_by }}</div>
            </div>
            <div class="row left hide-on-small-only upvoting">
                <div class="col s3"><i class="material-icons" id="thumb_up">thumb_up</i></div>
                <div class="col s2"><span id="upvote_total">{{ review.upvote_total }}</span></div>
                <div class="col s3"><i class="material-icons" id="thumb_down">thumb_down</i></div>
                <div class="col s2"><span id="downvote_total">{{ review.downvote_total }}</span></div>
            </div>
        </div>

        <div class="col l3 m4 s12 center-on-small-only"><a class="btn waves-effect waves-light" href="{{url_for('view_review', review_id=review._id)}}"><i class="material-icons right">local_library</i>View</a></div>

    </div>

    {% if (loop.index - loop.length) %}

    <hr> {% endif %} {% endfor %} {{ pagination.info }} {{ pagination.links }}


</div>

{% endblock %}
