{% extends 'base.html' %} {% block content %}
<div class="homepage-container">
    <div>
        <div>
            <h1>To read or not to read...that is a silly question!</h1>
        </div>
    </div>
    <div class="welcome-section">
        <h2>Welcome to Booksy</h2>
        <p>New Way to Explore Books</p>
        <p>Read Reviews, Find New Books and Share Opinions</p>
    </div>

    {% if current_user.is_authenticated %}
    <div class="row">
        <div class="col s12">
            <a class="btn waves-effect waves-light" href="{{ url_for('show_collection') }}">See our collection</a>
        </div>
    </div>
    {% else %}
    <div class="row center-on-small-only">
        <div class="col m6 s12">
            <a class="btn waves-effect waves-light" href="{{ url_for('register') }}">Sign Up</a>
        </div>
        <div class="col m6 s12">
            <a class="btn waves-effect waves-light" href="{{ url_for('login') }}">Sign In</a>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
