{% extends 'base.html' %} {% block content %}
<div class="content-container">
    <div class="row">
        <div class="col s12 center-align">
            <h1>Sign in to Booksy</h1>
        </div>

        <form action="" method="post" class="col s12" novalidate>
            {{ form.hidden_tag() }}

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">person</i> {{ form.username.label }}<br> {{ form.username(size=32) }} {% for error in form.username.errors %}
                    <span>[{{ error }}]</span> {% endfor %}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock</i> {{ form.password.label }}<br> {{ form.password(size=32) }} {% for error in form.password.errors %}
                    <span>[{{ error }}]</span> {% endfor %}
                </div>
            </div>

            <div class="row">

                <div class="col s12 m6 l6 center-align"><button class="btn waves-effect waves-light">{{ form.submit() }}</button></div>
                <div class="s12 m6 l6 center-align"><span>Not a member?<a href="{{ url_for('register') }}">Sign Up</a></span></div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
