{% extends "base.html" %} {% block content %}

<section class="content-container">
    
    <!-- Profile page heading -->
    <h3 id="profile-heading">{{ user.username[0]|upper}}{{user.username[1:] }}'s Profile</h3>

    <!-- Account details sub-section -->
    <section>

        <!-- Section heading -->
        <h4>Account details</h4>
        <hr>

        <!-- User information i.e. username and last seen datetime -->
        <div id="account-details" class="row">

            <div class="col s12">Username: {{ user.username }}</div>
            <div class="col s12">Email: {{ user.email }}</div>
            <div class="col s12">Last seen: {{ user.last_seen }}</div>

        </div>

        <!-- Delete account button -->
        <div class="row">

            <div class="col s12 center-on-small-only delete-acc"><a onclick="confirmationAcc(event)" class="btn waves-effect waves-light red darken-1" href="{{url_for('delete_account', user_id=user._id)}}">Delete account<i class="material-icons right">delete_forever</i></a></div>

        </div>

    </section>

    <!-- User content subsection - Tabs-->

    <section>

        <!-- Section heading -->
        <h4>User content</h4>
        <hr>

        <div id="tabs-container" class="row">

            <div class="col s12">

                <ul class="tabs">

                    <li class="tab col s3"><a href="#tab1">Reviews</a></li>
                    <li class="tab col s3"><a href="#tab2">Comments</a></li>
                    <li class="tab col s3"><a href="#tab3">Likes</a></li>
                    <li class="tab col s3"><a href="#tab4">Dislikes</a></li>

                </ul>

                <!-- List of reviews added by the user -->
                <div id="tab1" class="col s12 tab-item">

                    {% for review in reviews %}

                    <div class="row valign-wrapper user-content-item">

                        <div class="col m2 s4 center-on-small-only image-profile-container"><img class="image-profile" src="{{ review.cover }}" alt="Picture of {{ review.title }}"></div>
                        <div class="col m6 s8 center-on-small-only profile-review-title"><a href="{{url_for('view_review', review_id=review._id)}}">{{ review.title }} by {{ review.author }}</a></div>

                        <!-- Edit and delete review buttons -->
                        <div class="col m2 center hide-on-small-only user-reviews"><a href="{{url_for('edit_review', review_id=review._id)}}">Edit</a></div>
                        <div class="col m2 center hide-on-small-only user-reviews delete-btn"><a onclick="confirmDel(event)" href="{{url_for('delete_review', review_id=review._id)}}">Delete</a></div>

                    </div>
                    
                     <!-- If no reviews added yet display paragraph with information about it -->
                    {% else %}

                    <p>No reviews added by you.</p>
                    
                    {% endfor %}

                </div>

                <!-- List of reviews commented on by the user -->
                <div id="tab2" class="col s12 tab-item">

                    {% for review in comments %}

                    <div class="row valign-wrapper user-content-item">

                        <div class="col m2 s4 center-on-small-only image-profile-container"><img class="image-profile" src="{{ review.cover }}" alt="Picture of {{ review.title }}"></div>
                        <div class="col m10 s8 center-on-small-only profile-review-title"><a href="{{url_for('view_review', review_id=review._id)}}">{{ review.title }} by {{ review.author }}</a></div>

                    </div>
                    
                    <!-- If no comments for the review display paragraph with information about it -->
                    {% else %}

                    <p>No reviews commented by you.</p>
                    
                    {% endfor %}

                </div>

                <!-- List of reviews liked by the user -->
                <div id="tab3" class="col s12 tab-item">

                    {% for review in upvotes %}

                    <div class="row valign-wrapper user-content-item">

                        <div class="col m2 s4 center-on-small-only image-profile-container"><img class="image-profile" src="{{ review.cover }}" alt="Picture of {{ review.title }}"></div>
                        <div class="col m10 s8 center-on-small-only profile-review-title"><a href="{{url_for('view_review', review_id=review._id)}}">{{ review.title }} by {{ review.author }}</a></div>

                    </div>
                    
                    <!-- If no likes for the review display paragraph with information about it -->
                    {% else %}

                    <p>No reviews liked by you.</p>
                    
                    {% endfor %}

                </div>

                <!-- List of reviews disliked by the user -->
                <div id="tab4" class="col s12 tab-item">

                    {% for review in downvotes %}

                    <div class="row valign-wrapper user-content-item">

                        <div class="col m2 s4 center-on-small-only image-profile-container"><img class="image-profile" src="{{ review.cover }}" alt="Picture of {{ review.title }}"></div>
                        <div class="col m10 s8 center-on-small-only profile-review-title"><a href="{{url_for('view_review', review_id=review._id)}}">{{ review.title }} by {{ review.author }}</a></div>

                    </div>
                    
                    <!-- If no dislikes for the review display paragraph with information about it -->
                    {% else %}

                    <p>No reviews disliked by you.</p>
                    
                    {% endfor %}

                </div>

            </div>

        </div>

    </section>

</section>

{% endblock %}
