{% extends "base.html" %}

{% block content %}
    <h1>Hello, {{ user.username }}</h1>
    <hr>
    <div class="row">
        <div class="col s12">Username: {{ user.username }}</div>
        <div class="col s12">Last seen:  {{ user.last_seen }}</div>
    </div>
    
    <div class="row">
        <div class="col s12"><h2>{{ user.username }}'s reviews</h2></div>
    </div>
    <hr>
    
    {% for review in reviews %}
    <div class="row">
        <div class="col m2 s12 center-on-small-only image-profile-container"><img class="image-profile" src="{{ review.cover }}" alt="Picture of {{ review.title }}"></div>
        <div class="col m6 s12 center-on-small-only">{{ review.title }} by {{ review.author }}</div>
        <div class="col m2 s6 center"><a href="{{url_for('edit_review', review_id=review._id)}}">Edit</a></div>
        <div class="col m2 s6 center"><a href="{{url_for('delete_review', review_id=review._id)}}">Delete</a></div>
    </div>
      
    {% endfor %}
    
{% endblock %}