{% extends 'base.html' %} {% block content %}

<!-- Selected book title -->

<h3>{{ review.title }}</h3>

<!-- Selected book info container -->

<div class="row">
    <div class="col s12">
        <p>By {{ review.author }}</p>
    </div>
</div>

<div class="row">
    <div class="col l4 m4 s12"><img class="image-collection" src="{{ review.cover }}" alt="Picture of {{ review.title }}"></div>
    <div class="col l8 m8 s12">
        <div class="row">
            <div class="col s12">Type: {{ review.type }}</div>
        </div>
        <div class="row">
            <div class="col s12">Genre: {{ review.genre }} </div>
        </div>
        <div class="row">
            <div class="col s12">Published: {{ review.publication_year }}</div>
        </div>
        <div class="row">
            <div class="col s12">Review submitted by: {{ review.added_by }}</div>
        </div>
        <div class="row">
            <div class="col s12 center-on-small-only"><button class="btn waves-effect waves-light"><a href="http://www.google.com/search?q={{ review.title }}" target="_new"></a>Buy online
                <i class="material-icons right">add_shopping_cart</i>
             </button></div>
        </div>
    </div>
</div>

<!-- Accordion element containing summery and review -->

<div class="row">
    <div class="col s12">
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header">
                    <div class="accordion_header">
                        <i class="material-icons left">expand_more</i>Summary</div>
                </div>
                <div class="collapsible-body">
                    <span>
                    {{review.summary}} 
                </span>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <div class="accordion_header">
                        <i class="material-icons left">expand_more</i>Review</div>
                </div>
                <div class="collapsible-body">
                    <span>
                    {{review.review}} 
                </span>
                </div>
            </li>
        </ul>
    </div>
</div>

<!-- Likes and like, Delete and Edit buttons -->

<div class="row center">
    <div class="col m3 s6">Likes</div>
    <div class="col m3 s6"><a class="waves-effect waves-light btn btn_small">Like<i class="material-icons right">thumb_up</i></a></div>
    {% if current_user.username == review.added_by %}
    <div class="col m3 s6"><a href="" class="waves-effect waves-light btn btn_small">Edit<i class="material-icons right">edit</i></a></div>
    <div class="col m3 s6"><a href="{{url_for('delete_review', review_id=review._id)}}" class="waves-effect waves-light btn btn_small">Delete<i class="material-icons right">delete</i></a></div>
    {% endif %}
</div>

<hr>



{% endblock %}
