{% extends 'base.html' %} {% block content %}

<!-- Selected book title -->

<h3>{{ review.title }}</h3>

<!-- Selected book info container -->

<div class="row">
<div class="col s12"><p>By {{ review.author }}</p></div>
</div>

<div class="row">
    <div class="col l4 m4 s12"><img class="image-collection" src="{{ review.cover }}" alt="Picture of {{ review.title }}"></div>
    <div class="col l8 m8 s12">
        <div class="row"><div class="col s12">Type: {{ review.type }}</div></div>
        <div class="row"><div class="col s12">Genre: {{ review.genre }} </div></div>
        <div class="row"><div class="col s12">Published: {{ review.publication_year }}</div></div>
        <div class="row"><div class="col s12">Review submitted by: {{ review.added_by }}</div></div>
        <div class="row"><div class="col s12 center-on-small-only"><button class="btn waves-effect waves-light"><a href="http://www.google.com/search?q={{ review.title }}" target="_new"></a>Buy online
                <i class="material-icons right">add_shopping_cart</i>
             </button></div></div>
    </div>
</div>

{% endblock %}
